<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="get" action="/demo/getdata/">
	<input type="number" name="num1" placeholder="Enter First number"><br><br>
	<input type="number" name="num2" placeholder="Enter Second number"><br><br>
	<input type="submit" name="add" value="+">
	<input type="submit" name="sub" value="-">
	<input type="submit" name="multiplication" value="*">
	<input type="submit" name="div" value="/">
	<input type="submit" name="mod" value="%">
	<!-- <label>Number</label><br> -->
	<!-- <input type="text" name="number" placeholder="Enter no."><br><br>
	<input type="submit" name="sub"> -->
</form>
</body>
</html>