{% extends 'master.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<center><h1>Register</h1></center>
<form action="/account/adduser/" method="get" align="center" style="background-color: pink">
	<label>First Name</label><br>
	<input type="text" name="first_name"><br>
	<label>Last Name</label><br>
	<input type="text" name="last_name"><br>
	<label>Email</label><br>
	<input type="email" name="email"><br>
	<label>User Name</label><br>
	<input type="text" name="username"><br>
	<label>Password</label><br>
	<input type="password" name="password"><br>
	<label>Confirm Password</label><br>
	<input type="password" name="cpassword"><br><br> 
	<input type="submit" name="sub" value="Register Now">
</form>
{% endblock %}
