{% extends 'master.html' %}

{% load static %}

{% block content %}
<form action="/update/{{ data.id }}" method="get">
	<!-- {{ form }} -->
	<label>Name</label><br>
	<input type="text" name="name" value="{{ data.name }}"><br>
	<label>Email</label><br>
	<input type="email" name="email" value="{{ data.email }}"><br>
	<label>Mobile</label><br>
	<input type="text" name="mobile" value="{{ data.mobile }}"><br>
	<label>Salry</label><br>
	<input type="text" name="salary" value="{{ data.salary }}"><br>
	<label>Address</label><br>
	<textarea name="Address">{{ data.Address }}</textarea><br><br> 
	<input type="submit" name="sub" value="Update">
</form>
{% endblock %}